@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves Hairline Italic'), local('TTHoves-HairlineItalic'),
        url('~fonts/TTHoves-HairlineItalic.woff2') format('woff2'),
        url('~fonts/TTHoves-HairlineItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves ExtraLight Italic'), local('TTHoves-ExtraLightItalic'),
        url('~fonts/TTHoves-ExtraLightItalic.woff2') format('woff2'),
        url('~fonts/TTHoves-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves Thin'), local('TTHoves-Thin'),
        url('~fonts/TTHoves-Thin.woff2') format('woff2'),
        url('~fonts/TTHoves-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves DemiBold'), local('TTHoves-DemiBold'),
        url('~fonts/TTHoves-DemiBold.woff2') format('woff2'),
        url('~fonts/TTHoves-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves Bold Italic'), local('TTHoves-BoldItalic'),
        url('~fonts/TTHoves-BoldItalic.woff2') format('woff2'),
        url('~fonts/TTHoves-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves Black'), local('TTHoves-Black'),
        url('~fonts/TTHoves-Black.woff2') format('woff2'),
        url('~fonts/TTHoves-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves ExtraLight'), local('TTHoves-ExtraLight'),
        url('~fonts/TTHoves-ExtraLight.woff2') format('woff2'),
        url('~fonts/TTHoves-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves Bold'), local('TTHoves-Bold'),
        url('~fonts/TTHoves-Bold.woff2') format('woff2'),
        url('~fonts/TTHoves-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves Thin Italic'), local('TTHoves-ThinItalic'),
        url('~fonts/TTHoves-ThinItalic.woff2') format('woff2'),
        url('~fonts/TTHoves-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves Italic'), local('TTHoves-Italic'),
        url('~fonts/TTHoves-Italic.woff2') format('woff2'),
        url('~fonts/TTHoves-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves Black Italic'), local('TTHoves-BlackItalic'),
        url('~fonts/TTHoves-BlackItalic.woff2') format('woff2'),
        url('~fonts/TTHoves-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves ExtraBold'), local('TTHoves-ExtraBold'),
        url('~fonts/TTHoves-ExtraBold.woff2') format('woff2'),
        url('~fonts/TTHoves-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves DemiBold Italic'), local('TTHoves-DemiBoldItalic'),
        url('~fonts/TTHoves-DemiBoldItalic.woff2') format('woff2'),
        url('~fonts/TTHoves-DemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves Medium Italic'), local('TTHoves-MediumItalic'),
        url('~fonts/TTHoves-MediumItalic.woff2') format('woff2'),
        url('~fonts/TTHoves-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves ExtraBold Italic'), local('TTHoves-ExtraBoldItalic'),
        url('~fonts/TTHoves-ExtraBoldItalic.woff2') format('woff2'),
        url('~fonts/TTHoves-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves Regular'), local('TTHoves-Regular'),
        url('~fonts/TTHoves-Regular.woff2') format('woff2'),
        url('~fonts/TTHoves-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves Hairline'), local('TTHoves-Hairline'),
        url('~fonts/TTHoves-Hairline.woff2') format('woff2'),
        url('~fonts/TTHoves-Hairline.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves Light Italic'), local('TTHoves-LightItalic'),
        url('~fonts/TTHoves-LightItalic.woff2') format('woff2'),
        url('~fonts/TTHoves-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves Light'), local('TTHoves-Light'),
        url('~fonts/TTHoves-Light.woff2') format('woff2'),
        url('~fonts/TTHoves-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TTHoves';
    src: local('TT Hoves Medium'), local('TTHoves-Medium'),
        url('~fonts/TTHoves-Medium.woff2') format('woff2'),
        url('~fonts/TTHoves-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

