.text
  h1.type project
  h1.title nurtown
  .content
    .content__arrow
      button.left
        img(src="images/main__container/left-ico.svg", alt="img")
      button.right
        img(src="images/main__container/right-ico.svg", alt="img")
    .content__page
      h2 01
      img(src="images/main__container/line.svg", alt="img")
      h2 02
