extends ../layouts/main-layout

block variables
  - const title = "Landing page"

block content
  .container
    include ../models/slider
    include ../models/info-company
    include ../models/task
    include ../models/project

    //- ПЕРЕРАБОТАТЬ ВСЕ ЗАГОЛОВКИ
    //- h1 - единственный на странице
    //- h2 - заглавие секции
    //- h3 - заглавие блока в секции
    //- и так далее
