extends ../layouts/main-layout

block variables
  - const title = "Landing page"

block content

  //- сюда подключай вьюхи контента (О компании, Наши проекты и так далее)
  //-   include ../views/example-view
  //-   include ../views/example-view

