body {
  font-family: 'TTHoves'
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.header__menu {
   font-family: 'TTHoves';
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 12px;
}

