.menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding-right: 135px;
}

.menu__item {
  font-family: 'TTHoves';
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 60px;
  }
}

.menu__link {
  color: #333333;
  padding: 1px 0;
  text-decoration: none;

  &:hover {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
}
