.task {
  margin: 0 auto;
  margin-top: 150px;
  height: 268px;
  width: 1170px;
}
.task__header {
  margin-bottom: 60px;
}
.task__title {
  width: 519px;
  height: 64px;

  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
}
.task__content {
  display: flex;justify-content: space-between;
  align-items: center;
}

.task__item {

  &--first {
    display: flex;
    height: 144px;
    width: 413px;
    align-items: center;
  }
  &--second {
    display: flex;
    height: 144px;
    width: 570px;
    align-items: center;
  }
  h1 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 239px;
    display: flex;
    align-items: center;
    color: #F2F2F2;
    margin-right: 20px;
  }
  p {
    height: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
  }
}
