.info-company
  .info-company__first-img
    img(class="first-img" src="images/info-company/first_img1.svg", alt="img1")
    img(class="second-img" src="images/info-company/first_img2.svg", alt="img2")
  .info-company__second-img
    img(class="third-img" src="images/info-company/second_img.svg", alt="img3")
  .info-company__info
    .block-info
      .block-info__title
        h2 О компании
      .block-info__text
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          | when an unknown printer took a galley of type and scrambled it to make a type
          | specimen book. It has survived not only five centuries, but also the leap into
          | electronic typesetting, remaining essentially unchanged.
      .block-info__next
        a.read__next(href="javascript:;") читать &#8594

