ul.menu
  li.menu__item
    a.menu__link(href="javascript:;") Главная
  li.menu__item
    a.menu__link(href="javascript:;") Галерея
  li.menu__item
    a.menu__link(href="javascript:;") Проекты
  li.menu__item
    a.menu__link(href="javascript:;") Сертификаты
  li.menu__item
    a.menu__link(href="javascript:;") Контакты
