//- TODO
.slider
  .slider__meta
    .slider__title
      h1.title project
      h1.subtitle nurtown
    .slider__controls
      button.left
        img(src="images/main__container/left-ico.svg", alt="img")
      button.right
        img(src="images/main__container/right-ico.svg", alt="img")
    .slider__pagenation
  .slider__content
    img(class="nurtown_img" src="images/main__container/imageProject.png", alt="img")
    a(href="javascript:;") взглянуть
