//- TODO
.slider
  //-
  .slider__meta
    .slider__text
      h2.slider__title
        | project
        span nurtown

    .slider__controls
      button.slider__prev
        img(src="images/main__container/left-ico.svg", alt="img")
      button.slider__next
        img(src="images/main__container/right-ico.svg", alt="img")
    .slider__pagenation
      //- TODO это не заголовки
      h3 01
      hr.line
      h3 02
      //-
  //-
  .slider__content
    .slider__slide
      img(src="images/main__container/imageProject.png", alt="img")
    a.slider__look(href="javascript:;") взглянуть &#8594


