.task
  .task__header
    h2.task__title Основные задачи

  .task__content
    .task__item.task__item--first
      h1 1
      p Создание комфортных условий и повышение качества обслуживания клиентов
    .task__item.task__item--second
      h1 2
      p Постоянно совершенствовать качество предоставляемых услуг путем обучения персонала, закупки нового оборудования и усиленной рекламы на рынке
