.task
  .task__header
    h2.task__title Основные задачи
  .task__content
    .task__first.common
      h1 1
      p Создание комфортных условий и повышение качества обслуживания клиентов
    .task__second.common
      h1 2
      p Постоянно совершенствовать качество предоставляемых услуг путем обучения персонала, закупки нового оборудования и усиленной рекламы на рынке
